<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SoC.Properties.PapilioSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="SoC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <userSettings>
    <SoC.Properties.PapilioSettings>
      <setting name="PapilioPort" serializeAs="String">
        <value />
      </setting>
      <setting name="PapilioBaudRate" serializeAs="String">
        <value />
      </setting>
      <setting name="PapilioDataBits" serializeAs="String">
        <value />
      </setting>
      <setting name="PapilioParity" serializeAs="String">
        <value />
      </setting>
      <setting name="PapilioStopBits" serializeAs="String">
        <value />
      </setting>
    </SoC.Properties.PapilioSettings>
    <SoC.Properties.Settings>
      <setting name="Devices" serializeAs="String">
        <value>SoC.Device.Emulator.EmulatorDevice,SoC.Device.Papilio.PapilioDevice</value>
      </setting>
    </SoC.Properties.Settings>
  </userSettings>
</configuration>